
{% extends 'order_page.html' %} {% block content %}
{% load staticfiles%}
 <form id="chat-form"
  method="post"
  action="{% url 'chat:post' %}"
  data-spy="affix"
  data-offset-bottom="10" class="form-container"  style="height: 100%">
    {% csrf_token %}
    <h1>Chat</h1>

    <label for="msg"><b>Message</b></label>
    
    <div id="mymsglist" class="well" style="overflow: auto;max-height: 250px;text-align: center;">
  
{% for obj in chat %} {% if obj.human_bot %}
  
<div class="row container lighter " style="width: inherit;">
  <div class="col-sm-11" style="text-align:right">{{ obj.message | safe }}</div>
  <div class="col-sm-1" style="padding:0px"><img src='{% static "images/user.png" %}' alt="Avatar" ></span></div>
</div>

{% else %}

<div class="row container lighter " style="width: inherit;">
  <div class="col-sm-1" style="padding:0px"><img src='{% static "images/chatbot.png" %}' alt="Avatar" ></span></div>
  <div class="col-sm-11" style="text-align:left">{{ obj.message | safe }}</div>
</div>

{% endif %} {% empty %}
<div class="row container lighter " style="width: inherit;">
  <div class="col-sm-1" style="padding:0px"><img src='{% static "images/chatbot.png" %}' alt="Avatar" ></span></div>
  <div class="col-sm-11" style="text-align:left">Welcome to KR food delivery. What would you like to order</div>
</div>
{% endfor %}


</div>
     <input type="text" id="chat-msg" name="chat-msg" class="form-control" placeholder="Place an Order" style="margin-bottom:5%">
    <button type="submit" class="btn" id="send" form="chat-form" value="Submit">Send</button>

    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
  </form>


  {% endblock content %}

